<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>KVO1.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CC6233881C1EEDCE001E6668</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC6233A11C1EEDCE001E6668</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CC6233AC1C1EEDCE001E6668</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
